@font-face {
  font-family: 'Kiwi Soda';
  src: url('./assets/fonts/KiwiSoda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Snow Bros Neue';
  src: url('./assets/fonts/snow-bros-neue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


:root {
  --bg: #12082d;
  --fg: #536a80;
}

* { box-sizing: border-box; }

html, body {
  margin: 0;
  height: 100%;
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, sans-serif;
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
}

#game {
  display: block;
  max-height: 100vh;
  touch-action: none;
}
